*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-decoration: none;
}

:root{
    --cor-lavender-pink: #F2A8D1;
    --cor-blush: #E4698D;
    --cor-tertiaty: #8C2C86; /* dark-magenta */
    --cor-eminence: #60337E;
    --cor-secondary: #343A75; /* delf-blue */
    --cor-ultra-violet: #5C629C;
    --cor-primary: #1074A8; /* honolulu-blue */
    --cor-moondtone: #4FADC6;
    --cor-tiffany-blue: #7DDDDC;
    --cor-background: #CBE7EE;

    --cor-neutral-white: #FFFFFF;
    --cor-neutral-black: #000000;

    --font-primary: "Lemon", serif;    
    --font-secondary: "Montserrat", sans-serif;

    --size-title: 32px;
    --size-subtitle: 20px;
    --size-paragraph: 16px;
    --size-font-logo: 24px;
    --size-paragraph-secondary: 14px;

}